<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <!--Post-->
    <div class="jumbotron">

        <h1>Preencha</h1>

    </div>

    <h2>Link:</h2>

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration2}"
                  th:object="${referenciaLink}" method="post" role="form">

                <h2 class="text-center">Write new comment</h2>

                <div class="form-group">
                    <label th:if="${#fields.hasErrors('link')}" th:errors="*{link}"
                           class="alert alert-danger"></label>
                    <textarea th:field="*{link}"
                              placeholder="Body" class="form-control input-lg"/>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Comment</button>
                </div>

            </form>
        </div>
    </div>


</div>
<!-- /.container -->

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>